.myAlerts {
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    z-index: 100;
}

.myAlerts .alert {
    justify-content: center;
    margin: 0 auto;
    width: 350px;
    height: 115px;
    background-color: #1a4263a9;
    visibility: visible;
    border-radius: 10px;
    border: 2px solid #276292;
    box-shadow: inset 0 0 8px 3px cyan;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-align: center;
    align-items: center;
    transform: translateY(-200px);
    transition: .4s ease-in-out;
}

.myAlerts .alert.active {
    transform: translateY(0);
}

.myAlerts .alert .text {
    margin: 40px auto;
    color: #45a3f0;
}

.myAlerts .alert .btn {
    float: right;
    padding: 8px 12px;
    margin: -35px 15px 0 0;
    cursor: pointer;
    right: 0;
    color: #b0dcff;
    border-radius: 5px;
    background-color: #3d97e0;
    box-shadow: 0 0 8px 1px #327ab6;
}